.header {
  margin-top: 45px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

.header__image {
  margin-bottom: 41px;
  opacity: 1;
}

@media screen and (max-width: 880px) {
  .header__image {
    margin-top: 45px;
  }
}

@media screen and (max-width: 580px) {
  .header__image {
    width: 126px;
    margin: 28px 0 32px 27px;
  }
}
