@media screen and (max-width: 880px) {
  .page__section {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  .header__image {
    margin-top: 45px;
  }

  .profile__title {
    font-size: 30px;
    font-style: normal;
  }

  .profile__edit-button {
    margin-right: 20px;
  }
}

@media screen and (max-width: 580px) {
  .page__content {
    padding: 0;
  }

  .header__image {
    width: 126px;
    margin: 28px 0 32px 27px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    padding: 39px 0 30px;
    max-width: 480px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__image {
    margin: 0 0 27px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding: 14px 0 36px;
    max-width: 282px;
  }

  .profile__title {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 196px;
  }

  .profile__add-button {
    margin: 0;
    min-width: 282px;
    min-height: 50px;
  }

  .profile__edit-button {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border: 1px solid #fff;
  }

  .card__list {
    padding: 0;
  }

  .card__description {
    padding: 25px 20px;
  }

  .footer {
    margin: auto;
    justify-content: center;
  }

  .footer__copyright {
    padding: 48px 0 36px;
    width: 282px;
    height: 14px;
    color: #545454;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
