.footer {
  display: grid;
  justify-content: flex-start;
}

.footer__copyright {
  width: 318px;
  padding: 67px 0 60px;
  margin: 0;
  color: #545454;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 580px) {
  .footer {
    margin: auto;
    justify-content: center;
  }

  .footer__copyright {
    padding: 48px 0 36px;
    width: 282px;
    font-size: 14px;
  }
}
